* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

.navbar-link {
  display: none;
}

#head nav {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

#head nav .nav-inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 70px 0;
  background-color: #fff;
  width: 1440;
}

#head .toggle-button {
  display: none;
}

#head #hamburger-menu {
  display: flex;
}

.card-content ul li {
  margin-right: 10px;
}

.contact-container form ul li {
  margin-bottom: 20px;
}

.about-container .box1 ul li {
  margin: 0 20px 20px 0;
}

.about-container .box2 .about-list > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-container .box2 .about-list li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.about-container .box2 .icon-list li {
  width: 122px;
  height: 120px;
  padding-top: 20px;
  padding-left: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-right: 10px;
}

#head ul li {
  padding-right: 20px;
}

#head #hamburger-menu li {
  padding: 0;
}

#head #hamburger-menu li:nth-child(1) {
  margin-right: 30px;
}

#head #hamburger-menu li:nth-child(2) {
  margin-right: 30px;
}

.card-content ul li a {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background-color: #ebebff;
  padding: 5px 10px;
  border-radius: 7px;
}

#head .logo a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

#head #hamburger-menu li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

#head .background-image {
  display: flex;
  justify-content: center;
  padding: 350px 0 400px 0;
  background-image: url(image/Header-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  border-radius: 0 0 0 100px;
}

#head .background-image .content {
  width: 1440px;
  padding: 0 120px;
}

#head h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
  margin-bottom: 20px;
}

.card-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 30px;
}

.contact-container p {
  width: 469px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin-bottom: 20px;
}

.about-container .box1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 15px;
}

.contact-container .para p {
  width: 569px;
  text-align: center;
}

#head p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-bottom: 20px;
}

.about-container .box1 h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 15px;
}

#head h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 20px;
}

.card-content ul {
  display: flex;
  margin-bottom: 20px;
}

.about-container .box1 ul {
  display: flex;
}

#head ul {
  display: flex;
}

.close {
  display: none;
}

@media (max-width: 768px) {
  #head {
    width: 375px;
  }

  .close-button {
    display: flex;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 5px;
  }

  .close {
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    justify-content: flex-end;
    padding: 25px;
  }

  .navbar-link {
    position: fixed;
    display: none;
    width: 105%;
    background: rgba(96, 112, 255, 0.8);
    height: 100vh;
    margin-left: -20px;
    z-index: 1;
    padding-left: 30px;
  }

  .navbar-link ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-link li {
    padding-top: 50px;
  }

  .navbar-link li a {
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  .navbar-link.active {
    display: flex;
  }

  #head nav .nav-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
  }

  #head .toggle-button {
    display: flex;
  }

  #head #hamburger-menu {
    display: none;
  }

  .card-content ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  #head ul li {
    padding-right: 20px;
  }

  #head #hamburger-menu li {
    margin-right: 30px;
  }

  #head .logo a {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  #head #hamburger-menu li a {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  #head .background-image {
    padding: 100px 20px 155px 20px;
    background-image: url(image/header-shapes-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fff;
    border-radius: 0 0 0 50px;
  }

  #head .background-image .content {
    padding: 0;
  }

  #head h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-bottom: 10px;
  }

  #head h1 span {
    display: block;
  }

  #head p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 10px;
  }

  #head h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-bottom: 10px;
  }

  #head ul {
    display: flex;
  }
}

/* This is the card area */
.odd-card {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.even-card {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.card-body {
  width: 1156px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
}

.odd-card .card-body .image-cover {
  margin-right: 70px;
}

.even-card .card-body .image-cover {
  margin-left: 70px;
}

.card-body img {
  transition: all 1s;
}

.card-body img:hover {
  transform: scale(1.1);
}

.card-content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin-bottom: 15px;
  margin-top: 30px;
}

.card-content ul .canopy {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
}

.card-content button {
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border-radius: 8px;
  border-color: #396df2;
  transition: all 1s;
}

.card-content button:hover {
  background-color: #4053fc;
  color: #fff;
}

.even-card .card-body {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  #card {
    width: 327px;
    margin: 0 20px;
  }

  .odd-card {
    margin-top: 100px;
  }

  .even-card {
    margin-top: 100px;
  }

  .card-body {
    display: inline-block;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
  }

  .card-body .image-cover {
    margin-bottom: 30px;
    width: 100%;
  }

  .even-card .card-body .image-cover {
    margin-left: 0;
  }

  .card-body .image-cover img {
    width: 100%;
  }

  .card-content h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-bottom: 15px;
    margin-top: 0;
  }

  .card-content ul {
    display: flex;
    margin-bottom: 10px;
  }

  .card-content ul li {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    margin-right: 5px;
  }

  .card-content ul .canopy {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .card-content p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 20px;
  }

  .card-content ul li a {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    background-color: #ebebff;
    padding: 5px 10px;
    border-radius: 7px;
  }

  .card-content button {
    padding: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    border-radius: 8px;
    border-color: #396df2;
    transition: all 1s;
  }

  .card-content button:hover {
    background-color: #4053fc;
    color: #fff;
  }
}

/* This is the about area */
#about {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 0 100px 0 0;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 150px;
}

.about-container {
  width: 1156px;
  display: flex;
}

.about-container .box1 {
  width: 45%;
  padding-right: 50px;
}

.contact-container h2 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 20px;
}

.about-container .box1 h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin-bottom: 20px;
}

.about-container .box1 button {
  padding: 10px 15px;
  border-radius: 8px;
  color: #396df2;
  border: 1px solid #4053fc;
  transition: all 1s;
}

.contact-container form .btn button {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  color: #6070ff;
  transition: all 1s;
}

.about-container .box1 button:hover {
  background-color: #4053fc;
  color: #fff;
}

.about-container .box2 {
  width: 55%;
}

.about-container .box2 .about-list .list {
  border-bottom: 1px solid #dfe1e6;
}

.about-container .box2 .icon-list {
  display: flex;
  margin-bottom: 30px;
}

.about-container .box2 .icon-list li img {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #about {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 0 100px 0 0;
    padding: 100px 20px 100px 20px;
    margin-top: 100px;
    width: 375px;
  }

  .about-container {
    display: inline-block;
  }

  .about-container .box1 {
    width: fit-content;
    padding-right: 0;
  }

  .about-container .box1 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 20px;
  }

  .about-container .box1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 15px;
  }

  .about-container .box1 h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-bottom: 15px;
  }

  .about-container .box1 ul {
    display: flex;
  }

  .about-container .box1 ul li {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .about-container .box1 button {
    padding: 10px 15px;
    border-radius: 8px;
    color: #396df2;
    border: 1px solid #4053fc;
    transition: all 1s;
  }

  .about-container .box1 button:hover {
    background-color: #4053fc;
    color: #fff;
  }

  .about-container .box2 {
    width: 100%;
    margin-top: 50px;
  }

  .about-container .box2 .about-list {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
  }

  .about-container .box2 .about-list > li {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .about-container .box2 .about-list .list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid #dfe1e6;
  }

  .about-container .box2 .icon-list {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
  }

  .about-container .box2 .icon-list li {
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 66.72px;
    width: 100%;
    align-items: center;
    padding: 10px;
  }

  .about-container .box2 .icon-list li img {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

/* This is the contact me area */
#contact {
  background-color: #fff;
}

#contact .contact-case {
  background-color: #6070ff;
  padding: 70px 100px;
  border-radius: 150px 0 0 0;
}

.contact-image {
  display: flex;
  justify-content: center;
  background-image: url(image/contact-form-background-shapes.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.contact-container form {
  display: flex;
  justify-content: center;
}

.contact-container form input {
  width: 447px;
  padding: 15px 15px;
  border-radius: 6px;
  border: 1px solid #6070ff;
}

.contact-container form textarea {
  width: 447px;
  padding: 15px 15px;
  border-radius: 6px;
  border: 1px solid #6070ff;
}

.contact-container form .btn {
  display: flex;
  justify-content: center;
}

.contact-container form .btn button:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  #contact {
    background-color: #fff;
    width: 375px;
  }

  #contact .contact-case {
    background-color: #6070ff;
    padding: 0 0;
  }

  .contact-image {
    display: flex;
    justify-content: center;
    background-image: url(image/contact-form-shapes.png);
    background-color: #6070ff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    border-radius: 100px 0 0 0;
  }

  .contact-container h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-bottom: 20px;
  }

  .contact-container p {
    width: 327px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    margin-bottom: 20px;
  }

  .contact-container form {
    display: flex;
    justify-content: center;
  }

  .contact-container form ul li {
    margin-bottom: 20px;
  }

  .contact-container form input {
    width: 327px;
    padding: 15px 15px;
    border-radius: 8px;
    border: 1px solid #6070ff;
  }

  .contact-container form textarea {
    width: 327px;
    padding: 15px 15px;
    border-radius: 8px;
    border: 1px solid #6070ff;
  }

  .contact-container form .btn {
    display: flex;
    justify-content: start;
  }

  .contact-container form .btn button {
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #6070ff;
    color: #6070ff;
    transition: all 1s;
  }

  .contact-container form .btn button:hover {
    transform: scale(1.2);
  }
}
